
<div class="container">
  <h2>Contextual Classes</h2>
  <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody> <!--{{recepie.class}}-->
      <tr ng-repeat="recepie in recepies" class="info">
        <td class="tooltip">{{recepie.row[0].name}}</td>
          <span class="tooltiptext" ><span ng-repeat="ingredient in recepie.ingredients">{{ingredient.row[0].name}}</span></span>
			
        <td>john@example.com</td>
      </tr>
     
    </tbody>
  </table>
</div>